
/example6-1/Project/RVMDK/Obj/
/example6-1/Project/RVMDK/List/
/example6-1/project/RVMDK/JLinkLog.txt
/example6-1/project/RVMDK/*.bak
/example6-1/project/RVMDK/*.dep

/example10-1/Project/RVMDK/Obj/
/example10-1/Project/RVMDK/List/
/example10-1/project/RVMDK/JLinkLog.txt
/example10-1/project/RVMDK/*.bak
/example10-1/project/RVMDK/*.dep

/example10-2/Project/RVMDK/Obj/
/example10-2/Project/RVMDK/List/
/example10-2/project/RVMDK/JLinkLog.txt
/example10-2/project/RVMDK/*.bak
/example10-2/project/RVMDK/*.dep